<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25477661485-pte7vpgmeq6n0g477vdddo3ihh0defuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25477661485-pte7vpgmeq6n0g477vdddo3ihh0defuq</string>
	<key>API_KEY</key>
	<string>AIzaSyDCyxZ7YjuS5FF6q5Jv0MwIDR_KS2eNnQs</string>
	<key>GCM_SENDER_ID</key>
	<string>25477661485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bakti.kehadiran</string>
	<key>PROJECT_ID</key>
	<string>kehadiran-c81c4</string>
	<key>STORAGE_BUCKET</key>
	<string>kehadiran-c81c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25477661485:ios:aa593684ece81847fac9a4</string>
</dict>
</plist>